body{
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12) no-repeat;
  background-size: cover;
  text-align: center;
  padding: 5%;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  height: 100vh;

}
button{
  margin-left: 5px ;
}
 input {
  border: none;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(246, 247, 248);
}
button {
  border: none;
  padding: 7px 15px;
  border-radius: 3px;
  color: aliceblue;
  background-color: rgb(88, 160, 233);
}